.App {
  text-align: center;
}

nav{
    display:flex;
    justify-content: space-around;
    align-item:center;
    min-height: 5vh;
    background-color: lightgray;
}
.navLink{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
}

.CardImg{
    width:250px;heihht:270px
}
